*-blx.bib
*.4ct
*.4tc
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.css
*.dvi
*.fdb_latexmk
*.fls
*.flsm
*.idv
*.idx
*.lg
*.lof
*.log
*.lol
*.lot
*.md
*.nav
*.out
*.pdf
*.ps
*.run.xml
*.snm
*.sublime-workspace
*.synctex*
*.tmp
*.toc
*.xref
.DS_*